<div>
      <pill noOfJobs="16" comments="New comments!" colour="success" type="comments" status='Ready for process'></pill>
      <pill noOfJobs="26" comments="New comments!" colour="primary" type="comments" status='Aged'></pill>
      <pill noOfJobs="10" comments="New comments!" colour="danger" type="comments" status='Due in three days'></pill>
      <pill noOfJobs="5" comments="New comments!" colour="warning" type="comments" status='Pending'></pill>
      <pill noOfJobs="28" comments="New comments!" colour="info" type="comments" status='Balance in progress'></pill>
      <pill noOfJobs="61" comments="New comments!" colour="success" type="comments" status='Ready for process'></pill>
      <pill noOfJobs="63" comments="New comments!" colour="success" type="comments" status='Ready for process'></pill>
      
</div>
<grid [rows]="taxReports" [columns]="columns"></grid>
<div>{{jobs | async}}</div>